#popup-container {
  position: fixed;
  top: 40%;
 left: 50%;
 transform: translate(-50%, -50%);
  z-index: 9999;
 margin: 0;
}

.box {
 position: relative;
  overflow: hidden;
  top: 100px;
  width: 500px;
  background-color: #F7F4E3;
  z-index: 1;
}

.button-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 420px;
  position: relative;
  z-index: 5;
}

a.btn.btn-primary.btn-lg.active {
  background-color: #446F64;
  color: #F7F4E3;
  width: 200px;
  height: 40px;
  font-size: medium;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  line-height: 40px;
  border-radius: 4px;
  margin-bottom: 70px;
  transition: background 0.3s, color 0.3s;
  position: relative;
  z-index: 6;
}

a.btn.btn-primary.btn-lg.active:hover {
background-color: #6BC5A1;
color: #F7F4E3;
}

#header-title {
  color: #446F64;
  padding-left: 5%;
  padding-top: 10%;
  font-size: 2.25em;
  text-align: center;;
}

span#subheader-title {
  color: #446F64;
  font-size: 20px;
  display: block;
  text-align: center;
  padding-top: 10px;
}

.plant {
  position: absolute;
  opacity: 0;
  animation-fill-mode: forwards;
  z-index: 3;
}

.plant-left {
  left: -20px;
  bottom: 80px;
  animation: slideInLeft 2.5s ease-out forwards;
  animation-delay: 1s;
}

.plant-right {
  right: 0px;
  bottom: 20px;
  animation: slideInRight 2.5s ease-out forwards;
  animation-delay: 1.3s;
}

.gif-animation {
  top: 150px;
  position: absolute;
  overflow: hidden;
  left: 50px;
  width: 400px;
  height: 400px;
  z-index: 2;
}

.popupCloseButton {
  position: absolute;
  font-size: 1.25em;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  line-height: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px;
  color: #446F64;
}

.slide-top {
  -webkit-animation: slide-top 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-top 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation-delay: 5s;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slideInLeft {
0% {
  transform: translateX(-100px);
  opacity: 0;
}
100% {
  transform: translateX(0px);
  opacity: 1;
}
}

@keyframes slideInRight {
0% {
  transform: translateX(100px);
  opacity: 0;
}
100% {
  transform: translateX(0px);
  opacity: 1;
}
}
